@media (max-width: 768px) {
    /* CSS som gäller när skärmen är 768px eller mindre */
    .card {
        border-color: red;
    }
}

.border { border: 1px solid black; }
.bg { background-color: grey; }

.site-head{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  font-size: var(--step-2);
  text-transform: uppercase;
  font-weight: 600;

  color: var(--color-light);
  background-color: var(--color-dark);
  border: 1px solid black;

  padding: 1rem;
}

.nav-list{
    list-style: none;
  display: flex;
  gap: 1rem;

  padding: 0;
  margin: 0;
}

.hero {
  display: grid;
  grid-template-areas: "hero";
  place-items: center;
  max-height: 60vh;
  background-color:rgb(127, 212, 255);
  color:black;
  padding: 1rem;
  border: 1px solid black;
}

.hero-content-h1 {
    font-size: 600;
    font-weight: 800;
}
.hero-content h2 


.cards {
    display: flex;
}

.card-list li {
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}




.site-foot {
  color: rebeccapurple;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
}
